@import "../../../styles/mixins";
@import "../../../styles/variables";

.hero {
  width: $width-desktop-header;

  &__image {
    width: 100vw;
    border-bottom-left-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
  }
}
