// Colours
$black: #000000;
$off-black: #101010;
$white: #ffffff;
$midgrey: #F1F1F1;
$lightgrey: #FAFAFA;
$dark-orange: #D87D4A;
$light-orange: #FBAF85;

// Fonts
$header-font: 'Manrope', sans-serif;
$body-font: "dm_sansregular", sans-serif;
$header-size: 40px;

// Layout
$nav-height: 72px;
$arrow-gap: 20px;