// Breakpoints
// Mobile <= 480
// Tablet > 480 && < 1008
// Desktop >= 1008

// Colours
$black: #000000;
$off-black: #101010;
$white: #ffffff;
$midgrey: #F1F1F1;
$lightgrey: #FAFAFA;
$dark-orange: #D87D4A;
$light-orange: #FBAF85;


// Layout
$nav-height: 93px;
$width-desktop-header: 80%;
$padding-desktop-body: 4rem;
$padding-tablet-body: 2rem;
$padding-mobile-body: 1rem;